@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@font-face {
    font-family: 'fontexd';
    src: url(fontes/idroid.otf);
    font-weight: normal;
}


:root {

    --cor1: #008042;
    --cor2: #2D9562;
    --cor3: #008042;
    --cor4: #3DCC87;
    --cor5: #004725;


    --fontepadrao: Arial, Verdana, Helvetica, sans-serif;
    --fontexd: 'fontexd' , cursive;
    --fonte2: 'Bebas Neue' , cursive;
    --fontekekw: 'Shadows Into Light', cursive

}


*{
    padding: 0px;
    margin: 0px;
    line-height: 150%;
    
}


header h1 {
    text-align: center;
    background-image: linear-gradient(to bottom , var(--cor1), var(--cor5));
    color: white;
    font-size: 3em;
    font-family: var(--fonte2);
    padding-bottom: 50px;
    padding-top: 50px;
    text-shadow: -1px 3px black;
}


nav{
    background-color: #004725;
    padding: 8px;
    padding: 10px;
    font-size: 1.2em;
    font-family: var(--fonte2);
 
}

nav>a:hover {
    background-color: #008042;
    text-decoration: underline;
    color: black;
    border-radius: 10px;    
}

nav>a{
    padding: 11px 50px;
    color: white;
    text-decoration: none;
}


main p {
    font-size: 1em;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
    
}

main{
    font-family: var(--fontepadrao);
    background-color: white;
    max-width: 900px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);
    padding: 20px;
    line-height: 150%;
}

main img{
    width: 100%;
}

main img.rs{
    max-width: 320px;
    display: block;
    margin: auto;
}


main h1 {
    font-family: var(--fontexd);
    font-size: 1.5em;
    background-image: linear-gradient(to right, #3DCC87, transparent);
    padding-left: 10px;
    
}

main h2 {
    font-family: var(--fontexd);
    padding-left: 10px;
    background-image: linear-gradient(to right, #3DCC87, transparent);
}

body{
    background-color: #3DCC87;
    font-family: var(--fontekekw)
}

footer{
    background-color: black;
    color: white;
    font-size: 1.1em;
    text-align: center;
    font-family: var(--fontekekw);
    padding-bottom: 1px;
}

footer a {
    text-decoration: none;
    color: red;

}

footer a:hover {
    text-decoration: underline;

}

ul {
    columns:2;
    list-style-position: inside;
}

aside {
    background-color: var(--cor4);
    border-radius: 10px;
}
aside h3{
    font-family: var(--fontexd);
    color: white;
    background-color: var(--cor2); 
    border-radius: 10px 10px 0px 0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
 
}

aside>p, ul{
    padding: 20px;

}




div.vid {
    background-color: var(--cor5);
    margin-bottom: 40px;
    margin-left: -20px;
    margin-top: 40px;
    margin-right: -20px;
    position: relative;
    padding-bottom: 60%;

}

div.vid>iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    
}



